.section__title {
	text-align: center;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-family: $primary-font;
	font-weight: 700;
	font-size: 30px;
	color: $secondary-font-color;
	margin-bottom: 46px;
	
	&::after {
		content: "";
		display: block;
		width: 60px;
		height: 3px;
		margin: 0 auto;
		background-color: $primary-accent-color;
		margin-top: 42px;
	} 
}

