
	/* HEADER */
	/* SERVICES */
	/* TEAM */ 
	/* FOOTER */


/* .footer {
	border-top: 1px solid #e5e5e5;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 10px 0;
}	

.copyright {
	color: #333;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
}

.author {
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
}
.author:hover {
	color: #f38181;
} */

/* .subscribe-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.subscribe-form__input {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 15px;
	color: #cfcfcf;
	padding-left: 12px;
}

.subscribe-form__btn {
	display: inline-block;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 14px;
	padding: 12px 30px;
	text-transform: uppercase;

	border: none;
	background-color: #95e1d3;
	cursor: pointer;
} */



