
        /* 320px */

@media screen and (min-width: 320px) and (max-width: 767px) {
    .container {
        width: 320px;
    }

    .navigation {
        flex-direction: column-reverse;
        align-items: center;
        padding: 20px 0;
    }

    .navigation__list {
        margin-bottom: 118px;
    }

    .header-section {
        padding: 20px 20px;
    }

    .btn {    
	margin-bottom: 116px;
    }

    .partners {
        padding: 68px 0;
    }

    .partners-list__item {
        margin: 0 auto;
    }

    .partners-list__item:not(:last-child) {
        margin-bottom: 10px;
    }

    .partners-btn {
        margin-bottom: 0;
    }
}   




        /* 768px */

@media screen and (min-width: 768px) {
    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 90px;
    }

    .title {
        padding: 0 76px;
        font-size: 52px;
        margin-bottom: 36px;
    }

    .subtitle {
        font-size: 24px;
        margin-bottom: 36px;
    }

    .header-section {
        padding-bottom: 234px;
    }

    .partners {
        padding-top: 72px;
    }

    .partners-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
    }

    .partners-title {
        margin-bottom: 32px;
    }

}        

@media screen and (min-width: 768px) and (max-width: 939px) {
    .container {
        width: 768px;
    }

    .navigation {
        padding: 40px 50px;
    }

    .partners {
        padding-bottom: 40px;
    }

    .partners-list__item:not(:nth-last-of-type(-n+2)) {
        margin-bottom: 20px;
    }

    .partners-list  {
        width: 460px;
    }
}



        /* 940px */

@media screen and (min-width: 940px) {
    .container {
        width: 940px;
    }

    .partners {
        padding-bottom: 72px;
    }

    .navigation {
        padding: 40px 0;
    }

    .title {
        padding: 0 160px;
    }

    .partners-list__item:not(:nth-last-of-type(-n+4)) {
        margin-bottom: 20px;
    }
}