/*FONT-COLORS*/

$primary-font-color: #fff;
$secondary-font-color: #333;
$primary-font-accent-color: #fce38a;
$third-font-color: #999;

/*COLORS*/

$primary-accent-color: #f38181;
$primary-border-color: #ace7dc;
$secondary-border-color: #fff;
$box-shadow-color: #95e1d3;
$footer-border-color: #e5e5e5;
$button-bg-color: #95e1d3;

/*FONTS*/ 

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$cursive-font: 'Kaushan Script', cursive;